.resource-view {
    display: none;
}

table.resource-table th, 
table.scheduler-table th, 
table.resource-table td, 
table.scheduler-bg-table td, 
table.scheduler-table td{
    border-right: 1.2px dotted grey;
    border-bottom: none;
}

table.resource-table tr,
table.scheduler-bg-table tr,
table.scheduler-table tr {
    border-bottom: none
}

table.scheduler-bg-table th {
    border-right: none
}

table.scheduler-content-table {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.event-item {
    margin: 1px 0;
    width: '100%';
    overflow: hidden;
    text-overflow: ellipsis;
    color: #091e42;
    padding-right: 20px !important;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    
}
.round-all {
    border-radius: 0px;
}

.scheduler-view {
    border: none;
    margin: 0 0 0 -1px;
    padding: 0;
    /* border-bottom: none!important; */
}

.scheduler-view > div:first-child {
    border-bottom: none!important;
}
.header2-text { margin-left: 80px;}
.header2-text > span { float: right; margin-left: 20px;} 
.header2-text > i{ float: left; }

/* .header2-text > :first-child{ color: red; }
.header2-text > span { color: green;  }
.header2-text > i{ color: purple;  } */

.scheduler {
    margin: 60px auto;
    border-spacing: 0;
}

.monthsRow{
    width: 480px;

}


